<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
  integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
  
  <title>Pokemania</title>
</head>
<body id="page-home">
  <div class="container">
    <header>
      <div class="logo">
        <img src="../public/src/logo-svg.svg" alt="">
        <h1>PokeMania</h1>
      </div>
      <span class="hamburguer-menu icon"><i class="fas fa-bars"></i></span>
    </header>
    <main>
      <h2>What Pokemon Are You Looking For ?</h2>
      <div class="search-bar">
        <span class="search-icon icon"><i class="fas fa-search"></i></span>
        <input type="text" name="searchBar" placeholder="Search Pokemon, Move, Ability etc">
      </div>
      <div class="navigation-list">
        <a href="pokedex.html" class="navigation-card">Pokedex</a>
        <a href="" class="navigation-card">Abilities</a>
        <a href="" class="navigation-card">Locations</a>
        <a href="" class="navigation-card">Moves</a>
        <a href="" class="navigation-card">Items</a>
        <a href="" class="navigation-card">Type Charts</a>
      </div>
    </main>
  </div>
  <script src="../public/JavaScript/initnavigationCardsBg.js"></script>
</body>
</html>